{% extends "scripts/task.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<style>
    .thanks-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .thanks-submit > input {
        margin-left: 0;
        width: 100%;
    }

    @media (max-height: 750px) {
    
        .card {
            min-height: 0;
            min-width: 0;
        }
    
        .card a img {
           max-width: calc(70vh - 82px - 40px);
           min-width: 0;
        }

        .card-deck .card a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-height: 400px) {
        .card a img {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
</style>
{% endblock %}

{% block main_content %}
<div class="main-wrap">
       
    <div style="display: flex; align-items: center; flex-direction: column;" style="max-width: 95vw;">

        
        <h5 class="mb-1 font-weight-normal" style="width: 95vw; min-width: 95vw; max-width: 95vw; margin-top: 35px; padding-left: 15px; padding-right: 15px;">{% block task_statement %}{% endblock %}</h5>
        
        <span class="step-content">

            <div class="card-deck mt-1" style="max-width: 95vw;">
                <div class="card my-4 box-shadow">
                    <div class="card-header" style="display: flex; flex-direction: row;">
                        <div class="custom-control custom-radio custom-control-inline" style="display: flex; margin-right: 4px; margin-top: 1px;">
                            <input type="radio" class="custom-control-input" id="radioTask_1" name="example" value="customEx">
                            <label class="custom-control-label" for="radioTask_1"></label>
                        </div>
                        <h5 style="cursor: pointer;" class="my-0 font-weight-normal" id="custLabelTask_1">{{slot1.value}}</h5>
                    </div>
                    
                    <a href="{{ slot2.content.url }}" data-toggle="lightbox" data-title="{{slot1.value}}">
                        <img class="card-img-bottom my-4" src="{{ slot2.content.url }}" alt="Card image cap">
                    </a>

                    
                </div>
                <div class="card my-4 box-shadow">
                    <div class="card-header" style="display: flex; flex-direction: row;">
                        <div class="custom-control custom-radio custom-control-inline" style="display: flex; margin-right: 4px; margin-top: 1px;">
                            <input type="radio" class="custom-control-input" id="radioTask_2" name="example" value="customEx">
                            <label class="custom-control-label" for="radioTask_2"></label>
                        </div>
                        <h5 style="cursor: pointer;" class="my-0 font-weight-normal" id="custLabelTask_2">{{slot3.value}}</h5>
                    </div>
                    <a href="{{ slot4.content.url }}" data-toggle="lightbox" data-title="{{slot3.value}}">
                        <img class="card-img-bottom my-4" src="{{ slot4.content.url }}" alt="Card image cap">
                    </a>
                </div>
            </div>
            
            <div class="form-row form-row task-tt-submit pt-0 pb-0" style="max-width: 95vw;"> 
                <input disabled type="submit" name="submit" value="{% block next_task_button %}{% endblock %}" class="btn btn-outline-primary mb-4 mt-3" id="step-submit-btn">
            </div> 

        </span>

        <span style="display: none;">
            <form method="post" id="id_step_form">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
        </span>

    </div>
</div>

{% endblock%}

