{% extends "common/base.html" %}
{% load static %}



{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'common/css/scripts.css' %}">
{% endblock %}

{% block navbar %}
<span class="top-nav">
    <div class="top-nav-0 d-flex flex-row align-items-center pl-3 pr-3 pt-2 pb-2 px-md-4 bg-white border-bottom border-info">
        <h5 class="my-0 mr-md-auto font-weight-normal" style="cursor: default;">{{'Online Research Study'}}</h5>
        {% block study_timer %}
        {% endblock %}
    </div>
    <div class="top-nav-1 d-flex flex-row align-items-center pl-3 pr-3 pt-2 pb-2 px-md-4 bg-white border-bottom box-shadow">
        <div class="breadcrumbs">
            {{replica.title}}
            {% block subtitle_arrow %}› {% endblock %}<a href="#" style="pointer-events: none;">{% block script_page_title %}{% endblock %}</a>
        </div>
    </div>
</span>
{% endblock %}


{% block footer %}
<footer class="footer border-top border-secondary">
    <div class="container">
      <span class="text-secondary">{{replica.proponent}}&nbsp;&nbsp;&ndash;&nbsp;&nbsp;{{replica.approval}}</span>
    </div>
  </footer>
{% endblock %}

{% block extra_js %}
{% endblock %}